.bg-def{
    width: 100%;
    background-image: url('src/assets/img/cadastro/hidreletrica.jpg');
    background-size: cover;
}

#card-form{
    margin-top: 50px;
}

a {
    text-decoration: none;
}

.padd-all {
    padding: 180px;
}