.bg-def{
    width: 100%;
    height: auto;
    padding: 220px 0px;
    background-image: linear-gradient(to top, #000, #fff);
}

form{
    margin-top: 50px;
}

.extra-mr-5 {
    margin-right: 5px;
}

.text-deco-none {
    text-decoration: none;
}

.img-logo {
    margin-bottom: 120px;
    margin-right: 190px;
}


@media screen and (max-width: 605px) {
    .btn-area {
        display: flex;
        flex-direction: column;
    }
}