.bg-def{
    width: 100%;
    height: auto;
    padding: 220px 0px;
    background-image: url('src/assets/img/login/hidreletrica.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    margin-top: 50px;
}

.extra-mr-5 {
    margin-right: 5px;
}

.text-deco-none {
    text-decoration: none;
}


@media screen and (max-width: 605px) {
    .btn-area {
        display: flex;
        flex-direction: column;
    }
}