.bg-def{
    width: 100%;
    height: auto;
    padding: 220px 0px;
    background-image: linear-gradient(to right, yellow, #fff) !important;
}

form{
    margin-top: 50px;
}

.extra-mr-5 {
    margin-right: 5px;
}

.text-deco-none {
    text-decoration: none;
}

.img-logo {
    margin-bottom: 120px;
    margin-right: 190px;
}




@media screen and (max-width: 1080px) {
    .img-logo {
        display: none;
    }

    .width-wrap {
        width: 80% !important;
    }
}

@media screen and (max-width: 605px) {
    .btn-area {
        display: flex;
        flex-direction: column;
    }
}