section {
    background-color: rgb(255, 255, 255);
    height: 140vh;
}

.extra-form-container {
    background-color: white;
    box-shadow: 1px 1px 6px #00000065;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    margin-left: 160px;
}

.extra-form-container2 {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    text-align: center;
}


.extra-m-button {
    margin: 25px 0px;
}

.extra-padd {
    padding-right: 120px;
    padding-top: 50px;
}

.extra-bg-light {
    background-color: #fff;
}

@media screen and (max-width: 1200px) {
    section {
        height: auto;
    } 
    
    #bg1 {
        display: block !important;
        height: auto;
        
    }

    #bg2 {
        padding: 50px 0;
    }

    

    
}

@media screen and (max-width: 601px) {
    section {
        height: auto;
    } 
    
    #bg1 {
        display: block !important;
        height: auto;
        
    }

    #bg2 {
        padding: 50px 0;
    }

    .extra-form-container {
        margin-left: 0;
    }
}
