section {
    background-image: linear-gradient(to right, #ccc, #fff);
    height: auto;
}

.extra-form-container {
    background-color: white;
    box-shadow: 1px 1px 6px #00000065;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    margin-left: 160px;
}

.extra-form-container2 {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    text-align: center;
}


.extra-padd {
    padding-right: 120px;
    padding-top: 50px;
}

.extra-bg-light {
    background-color: #fff;
}

.w-45 {
    width: 45%;
}

@media screen and (max-width: 1200px) {
    section {
        height: auto;
    } 
    
    #bg1 {
        display: block !important;
        height: auto;
        
    }

    #bg2 {
        padding: 50px 0;
    }
}

.display-off {
    display: none;
}

@media screen and (max-width: 1090px) {
    .w-45 {
        width: 55% !important;
    }
}

@media screen and (max-width: 580px) {
    .w-45 {
        width: 70% !important;
    }
}
