.bg{
    width: 100%;
    padding: 220px 0px;
    background-image: url('src/assets/img/home/hidreletrica.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


