.nav{
    justify-content: center;
}

.nav-font-size {
    font-size: 18px;
}

.hoverNav:hover {
    background-color: #0d6efd;
    border-radius: 10px;
    transition: all ease 0.5s;
}
.hoverNavItem:hover {
    color: #ffffff !important;
}

.navbar-collapse > .navbar-nav{
    align-items: center;   
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}