.extra-porelative {
    position: relative;
}

.height-default {
    height: 700px;
}

.extra-container-text {
    position: absolute;
    top: 30%;
}

.extra-maxWidth {
    max-width: 700px;
}

.extra-container-text-2 {
    max-width: 500px;
}

.extra-m {
    margin-left: 30%;
}